In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('BDASProj').getOrCreate()

In [2]:
#reading it in
df = spark.read.csv('/home/ubuntu/BDASProj/usa_00007.csv',header=True)
df.columns

['YEAR',
 'SAMPLE',
 'SERIAL',
 'CBSERIAL',
 'HHWT',
 'STATEICP',
 'GQ',
 'PERNUM',
 'PERWT',
 'SEX',
 'AGE',
 'MARST',
 'RACE',
 'RACED',
 'EDUC',
 'EDUCD',
 'EMPSTAT',
 'EMPSTATD',
 'OCC',
 'INCWAGE']

In [3]:
#deleting unwanted columns, and setting up df schema
from pyspark.sql.types import DoubleType

#deleting columns and showing new df
df2 = df.select([c for c in df.columns if c not in {'YEAR','SAMPLE',"SERIAL","CBSERIAL","HHWT","STATEICP","GQ","PERNUM","PERWT","RACED","EDUCD","EMPSTAT","EMPSTATD"}])
df2.show()
df2.columns

+---+---+-----+----+----+----+-------+
|SEX|AGE|MARST|RACE|EDUC| OCC|INCWAGE|
+---+---+-----+----+----+----+-------+
|  2| 31|    6|   1|  10| 350|  38500|
|  2| 37|    4|   2|   6| 230|  18000|
|  1| 21|    6|   2|   7|4620|  15000|
|  1| 20|    6|   2|   7|4120|   1200|
|  1| 61|    2|   1|  10|1410| 160000|
|  1| 62|    1|   2|  10| 430| 100000|
|  2| 58|    1|   2|  10|4710| 344000|
|  1| 30|    6|   2|  10|4710| 120000|
|  1| 26|    6|   2|  10|4850|  50000|
|  2| 55|    6|   1|   7|4500|      0|
|  1| 54|    4|   1|  10|4840|  56000|
|  1| 36|    4|   1|   6|9130|  24700|
|  1| 50|    1|   1|  11|2200| 344000|
|  2| 47|    1|   1|   6|2340|  10000|
|  2| 47|    1|   2|   8|4510|  15000|
|  1| 53|    1|   2|   8|4760|  30000|
|  2| 26|    6|   1|   7|5220|  25000|
|  1| 22|    6|   2|   7|8965|  29500|
|  1| 48|    1|   1|   6|3740|  65000|
|  2| 49|    1|   1|  10|3600|  65000|
+---+---+-----+----+----+----+-------+
only showing top 20 rows

['SEX', 'AGE', 'MARST', 'RACE', 'EDUC', 'OCC', 'INCWAGE']

In [4]:
#change values within columns (all except OCC)
sexDict = {'1':'Male','2':'Female'} 
df2 = df2.na.replace(sexDict,1,"SEX")

mDict = {'1':'Married','2':'Married','3':'Separated','4':'Separated','5':'Widowed','6':'NeverMarried-Single'}
df2 = df2.na.replace(mDict,1,"MARST")

rDict = {'1': "White", '2': "Black", '3': "Native-IndianOrAlaskan", '4': "Chinese", '5': "Japanese", '6': "OtherAsianOrPacificIslander"}
df2 = df2.na.replace(rDict,1,"RACE")

eDict = {'0': "NoSchooling", '1': "NurseryToKinderGarten", '2': "MiddleSchool", '3': "HighSchool", '4': "HighSchool", '5': "HighSchool", '6': "HighSchool",'7': "1stYearCollege", '8': "2ndYearCollege", '9': "3rdYearCollege", '10': "4thYearCollege", '11': "5+YearsCollege"}
df2 = df2.na.replace(eDict,1,"EDUC")
df2.show()

#removing 7,8,9 from RACE (we dont consider those race codes)
df2 = df2.filter('RACE not in ("7","8","9")')
df2.select('RACE').distinct().show()

+------+---+-------------------+-----+--------------+----+-------+
|   SEX|AGE|              MARST| RACE|          EDUC| OCC|INCWAGE|
+------+---+-------------------+-----+--------------+----+-------+
|Female| 31|NeverMarried-Single|White|4thYearCollege| 350|  38500|
|Female| 37|          Separated|Black|    HighSchool| 230|  18000|
|  Male| 21|NeverMarried-Single|Black|1stYearCollege|4620|  15000|
|  Male| 20|NeverMarried-Single|Black|1stYearCollege|4120|   1200|
|  Male| 61|            Married|White|4thYearCollege|1410| 160000|
|  Male| 62|            Married|Black|4thYearCollege| 430| 100000|
|Female| 58|            Married|Black|4thYearCollege|4710| 344000|
|  Male| 30|NeverMarried-Single|Black|4thYearCollege|4710| 120000|
|  Male| 26|NeverMarried-Single|Black|4thYearCollege|4850|  50000|
|Female| 55|NeverMarried-Single|White|1stYearCollege|4500|      0|
|  Male| 54|          Separated|White|4thYearCollege|4840|  56000|
|  Male| 36|          Separated|White|    HighSchool|9130|  24700|
|  Male| 50|            Married|White|5+YearsCollege|2200| 344000|
|Female| 47|            Married|White|    HighSchool|2340|  10000|
|Female| 47|            Married|Black|2ndYearCollege|4510|  15000|
|  Male| 53|            Married|Black|2ndYearCollege|4760|  30000|
|Female| 26|NeverMarried-Single|White|1stYearCollege|5220|  25000|
|  Male| 22|NeverMarried-Single|Black|1stYearCollege|8965|  29500|
|  Male| 48|            Married|White|    HighSchool|3740|  65000|
|Female| 49|            Married|White|4thYearCollege|3600|  65000|
+------+---+-------------------+-----+--------------+----+-------+
only showing top 20 rows

+--------------------+
|                RACE|
+--------------------+
|Native-IndianOrAl...|
|             Chinese|
|            Japanese|
|OtherAsianOrPacif...|
|               White|
|               Black|
+--------------------+

In [5]:
#then retaining only non-zero INCWAGEs
df2 = df2.filter(df2['INCWAGE']>0)

NameError: name 'log' is not defined

In [6]:
#Monumental Task: Reclassifying OCC
from pyspark.ml.feature import Bucketizer

#first convert stringtype of occrecode to doubletype
df2 = df2.withColumn("OCC", df2["OCC"].cast(DoubleType()))

#then reclassify
bucketizer = Bucketizer(splits=[0,741,951,1966,2060,2161,2551,2921,3656,3956,4651,4966,5941,6131,9751,9921],
                       inputCol="OCC",outputCol="OCCRecode")
df2_buck = bucketizer.setHandleInvalid("keep").transform(df2)

#showing the occrecode column, as well as the number of distinct values (Showing it Worked!)
df2_buck.show()
df2_buck.select("OCCRecode").distinct().show()

+------+---+-------------------+-----+--------------+------+-------+---------+
|   SEX|AGE|              MARST| RACE|          EDUC|   OCC|INCWAGE|OCCRecode|
+------+---+-------------------+-----+--------------+------+-------+---------+
|Female| 31|NeverMarried-Single|White|4thYearCollege| 350.0|  38500|      0.0|
|Female| 37|          Separated|Black|    HighSchool| 230.0|  18000|      0.0|
|  Male| 21|NeverMarried-Single|Black|1stYearCollege|4620.0|  15000|      9.0|
|  Male| 20|NeverMarried-Single|Black|1stYearCollege|4120.0|   1200|      9.0|
|  Male| 61|            Married|White|4thYearCollege|1410.0| 160000|      2.0|
|  Male| 62|            Married|Black|4thYearCollege| 430.0| 100000|      0.0|
|Female| 58|            Married|Black|4thYearCollege|4710.0| 344000|     10.0|
|  Male| 30|NeverMarried-Single|Black|4thYearCollege|4710.0| 120000|     10.0|
|  Male| 26|NeverMarried-Single|Black|4thYearCollege|4850.0|  50000|     10.0|
|  Male| 54|          Separated|White|4thYearCollege|4840.0|  56000|     10.0|
|  Male| 36|          Separated|White|    HighSchool|9130.0|  24700|     13.0|
|  Male| 50|            Married|White|5+YearsCollege|2200.0| 344000|      5.0|
|Female| 47|            Married|White|    HighSchool|2340.0|  10000|      5.0|
|Female| 47|            Married|Black|2ndYearCollege|4510.0|  15000|      9.0|
|  Male| 53|            Married|Black|2ndYearCollege|4760.0|  30000|     10.0|
|Female| 26|NeverMarried-Single|White|1stYearCollege|5220.0|  25000|     11.0|
|  Male| 22|NeverMarried-Single|Black|1stYearCollege|8965.0|  29500|     13.0|
|  Male| 48|            Married|White|    HighSchool|3740.0|  65000|      8.0|
|Female| 49|            Married|White|4thYearCollege|3600.0|  65000|      7.0|
|  Male| 60|            Married|White|5+YearsCollege|1020.0| 114000|      2.0|
+------+---+-------------------+-----+--------------+------+-------+---------+
only showing top 20 rows

+---------+
|OCCRecode|
+---------+
|      8.0|
|      0.0|
|      7.0|
|      1.0|
|      4.0|
|     11.0|
|     14.0|
|      3.0|
|      2.0|
|     10.0|
|     13.0|
|      6.0|
|      5.0|
|      9.0|
|     12.0|
+---------+

In [7]:
#continuing...
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

t = {0.0:'Business',1.0:'Finance',2.0:'STEM',3.0:'PublicSector',4.0:'Law',
     5.0:'Education',6.0:'Media',7.0:'Healthcare',8.0:'PublicSector',9.0:
     'Hospitality',10.0:'Sales',11.0:'Administration',12.0:'STEM',13.0:'Trades',14.0:'PublicSector'}
udf_foo = udf(lambda x: t[x], StringType())
df3 = df2_buck.withColumn('OCCRecode',udf_foo("OCCRecode"))

#showing the new recoded occupations
df3.select("OCCRecode").distinct().show()

+--------------+
|     OCCRecode|
+--------------+
|     Education|
|         Sales|
|    Healthcare|
|  PublicSector|
|       Finance|
|         Media|
|          STEM|
|   Hospitality|
|Administration|
|           Law|
|      Business|
|        Trades|
+--------------+

In [8]:
#showing levels of each categorical value
df3.select("MARST").distinct().show()

+-------------------+
|              MARST|
+-------------------+
|          Separated|
|NeverMarried-Single|
|            Married|
|            Widowed|
+-------------------+

In [9]:
df3.select("RACE").distinct().show()

+--------------------+
|                RACE|
+--------------------+
|Native-IndianOrAl...|
|             Chinese|
|            Japanese|
|OtherAsianOrPacif...|
|               White|
|               Black|
+--------------------+

In [10]:
df3.select("EDUC").distinct().show()

+--------------------+
|                EDUC|
+--------------------+
|      5+YearsCollege|
|          HighSchool|
|      1stYearCollege|
|NurseryToKinderGa...|
|        MiddleSchool|
|      2ndYearCollege|
|         NoSchooling|
|      4thYearCollege|
+--------------------+

In [11]:
df3.select("OCCRecode").distinct().show()

+--------------+
|     OCCRecode|
+--------------+
|     Education|
|         Sales|
|    Healthcare|
|  PublicSector|
|       Finance|
|         Media|
|          STEM|
|   Hospitality|
|Administration|
|           Law|
|      Business|
|        Trades|
+--------------+

In [12]:
#now we add a column for male median grouped by OCCRecode
df3 = df3.withColumn("M_MedWage",df3["OCCRecode"])
df3.show()

+------+---+-------------------+-----+--------------+------+-------+--------------+--------------+
|   SEX|AGE|              MARST| RACE|          EDUC|   OCC|INCWAGE|     OCCRecode|     M_MedWage|
+------+---+-------------------+-----+--------------+------+-------+--------------+--------------+
|Female| 31|NeverMarried-Single|White|4thYearCollege| 350.0|  38500|      Business|      Business|
|Female| 37|          Separated|Black|    HighSchool| 230.0|  18000|      Business|      Business|
|  Male| 21|NeverMarried-Single|Black|1stYearCollege|4620.0|  15000|   Hospitality|   Hospitality|
|  Male| 20|NeverMarried-Single|Black|1stYearCollege|4120.0|   1200|   Hospitality|   Hospitality|
|  Male| 61|            Married|White|4thYearCollege|1410.0| 160000|          STEM|          STEM|
|  Male| 62|            Married|Black|4thYearCollege| 430.0| 100000|      Business|      Business|
|Female| 58|            Married|Black|4thYearCollege|4710.0| 344000|         Sales|         Sales|
|  Male| 30|NeverMarried-Single|Black|4thYearCollege|4710.0| 120000|         Sales|         Sales|
|  Male| 26|NeverMarried-Single|Black|4thYearCollege|4850.0|  50000|         Sales|         Sales|
|  Male| 54|          Separated|White|4thYearCollege|4840.0|  56000|         Sales|         Sales|
|  Male| 36|          Separated|White|    HighSchool|9130.0|  24700|        Trades|        Trades|
|  Male| 50|            Married|White|5+YearsCollege|2200.0| 344000|     Education|     Education|
|Female| 47|            Married|White|    HighSchool|2340.0|  10000|     Education|     Education|
|Female| 47|            Married|Black|2ndYearCollege|4510.0|  15000|   Hospitality|   Hospitality|
|  Male| 53|            Married|Black|2ndYearCollege|4760.0|  30000|         Sales|         Sales|
|Female| 26|NeverMarried-Single|White|1stYearCollege|5220.0|  25000|Administration|Administration|
|  Male| 22|NeverMarried-Single|Black|1stYearCollege|8965.0|  29500|        Trades|        Trades|
|  Male| 48|            Married|White|    HighSchool|3740.0|  65000|  PublicSector|  PublicSector|
|Female| 49|            Married|White|4thYearCollege|3600.0|  65000|    Healthcare|    Healthcare|
|  Male| 60|            Married|White|5+YearsCollege|1020.0| 114000|          STEM|          STEM|
+------+---+-------------------+-----+--------------+------+-------+--------------+--------------+
only showing top 20 rows

In [13]:
#then putting in values for median wage
medWageMap={
    'Administration':'32000',
    'Business':'80000',
    'Education':'47500',
    'Healthcare':'67000',
    'Hospitality':'18000',
    'Law':'85000',
    'Media':'35000',
    'PublicSector':'46850',
    'STEM':'73500',
    'Sales':'42000',
    'Trades':'36000',
    'Finance':'97000'
}
df3 = df3.na.replace(medWageMap,1,"M_MedWage")
df3 = df3.drop("OCC")

In [14]:
#deriving the pay gap ratio column
df3 = df3.withColumn("PayGapRatio",df3['INCWAGE']/df3['M_MedWage'])

#selecting only females
df3 = df3.filter(df3['SEX']=='Female')

In [15]:
print((df3.count(), len(df3.columns)))

(297708, 9)

In [16]:
#then reclassify
pGRatioBucket = Bucketizer(splits=[0, 0.33, 0.66, 0.99, 1.0, float('Inf')],
                       inputCol="PayGapRatio",outputCol="payGapClass")

In [17]:
df3_buck = pGRatioBucket.setHandleInvalid("keep").transform(df3)
df3_buck.select("payGapClass").distinct().show()

+-----------+
|payGapClass|
+-----------+
|        0.0|
|        1.0|
|        4.0|
|        3.0|
|        2.0|
+-----------+

In [18]:
#remove columns we're not interested in
df4_regressor = df3.select("AGE","MARST","RACE","EDUC","OCCRecode","PayGapratio")
print((df4_regressor.count(), len(df4_regressor.columns)))

(297708, 6)

In [19]:
df4_regressor.select("PayGapRatio").describe().show()

+-------+------------------+
|summary|       PayGapRatio|
+-------+------------------+
|  count|            297708|
|   mean|0.9207429899822778|
| stddev|0.9232310566498757|
|    min|            5.0E-5|
|    max| 35.44444444444444|
+-------+------------------+

In [20]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

In [21]:
cat_cols = ["MARST","RACE","EDUC","OCCRecode"]
num_cols = ["AGE"]

In [22]:
#building indexers and encoders for cat variables
indexers = [StringIndexer(inputCol = c, outputCol="{0}_i".format(c)) for c in cat_cols]
encoders = [OneHotEncoder(inputCol = indexer.getOutputCol(), outputCol = "{0}_e".format(indexer.getOutputCol())) 
for indexer in indexers]

In [23]:
#assembler for cat
assemblerCat = VectorAssembler(inputCols = [encoder.getOutputCol() for encoder in encoders], outputCol = "cat")
#pipeline for cat
pipelineCat = Pipeline(stages = indexers + encoders + [assemblerCat])
df4_regressor = pipelineCat.fit(df4_regressor).transform(df4_regressor)

In [24]:
df4_regressor.show(5)

+---+-------------------+-----+--------------+-----------+-------------------+-------+------+------+-----------+-------------+-------------+-------------+--------------+--------------------+
|AGE|              MARST| RACE|          EDUC|  OCCRecode|        PayGapratio|MARST_i|RACE_i|EDUC_i|OCCRecode_i|    MARST_i_e|     RACE_i_e|     EDUC_i_e| OCCRecode_i_e|                 cat|
+---+-------------------+-----+--------------+-----------+-------------------+-------+------+------+-----------+-------------+-------------+-------------+--------------+--------------------+
| 31|NeverMarried-Single|White|4thYearCollege|   Business|            0.48125|    1.0|   0.0|   1.0|        2.0|(3,[1],[1.0])|(5,[0],[1.0])|(7,[1],[1.0])|(11,[2],[1.0])|(26,[1,3,9,17],[1...|
| 37|          Separated|Black|    HighSchool|   Business|              0.225|    2.0|   1.0|   0.0|        2.0|(3,[2],[1.0])|(5,[1],[1.0])|(7,[0],[1.0])|(11,[2],[1.0])|(26,[2,4,8,17],[1...|
| 58|            Married|Black|4thYearCollege|      Sales|   8.19047619047619|    0.0|   1.0|   1.0|        5.0|(3,[0],[1.0])|(5,[1],[1.0])|(7,[1],[1.0])|(11,[5],[1.0])|(26,[0,4,9,20],[1...|
| 47|            Married|White|    HighSchool|  Education|0.21052631578947367|    0.0|   0.0|   0.0|        4.0|(3,[0],[1.0])|(5,[0],[1.0])|(7,[0],[1.0])|(11,[4],[1.0])|(26,[0,3,8,19],[1...|
| 47|            Married|Black|2ndYearCollege|Hospitality| 0.8333333333333334|    0.0|   1.0|   4.0|        3.0|(3,[0],[1.0])|(5,[1],[1.0])|(7,[4],[1.0])|(11,[3],[1.0])|(26,[0,4,12,18],[...|
+---+-------------------+-----+--------------+-----------+-------------------+-------+------+------+-----------+-------------+-------------+-------------+--------------+--------------------+
only showing top 5 rows

In [25]:
df4_regressor.select("RACE","RACE_i","RACE_i_e").show(2)

+-----+------+-------------+
| RACE|RACE_i|     RACE_i_e|
+-----+------+-------------+
|White|   0.0|(5,[0],[1.0])|
|Black|   1.0|(5,[1],[1.0])|
+-----+------+-------------+
only showing top 2 rows

In [26]:
from pyspark.sql.types import IntegerType
df4_regressor = df4_regressor.withColumn("AGE", df4_regressor["AGE"].cast(IntegerType()))
df4_regressor.printSchema

<bound method DataFrame.printSchema of DataFrame[AGE: int, MARST: string, RACE: string, EDUC: string, OCCRecode: string, PayGapratio: double, MARST_i: double, RACE_i: double, EDUC_i: double, OCCRecode_i: double, MARST_i_e: vector, RACE_i_e: vector, EDUC_i_e: vector, OCCRecode_i_e: vector, cat: vector]>

In [27]:
#building assembler for num 
assemblerNum = VectorAssembler(inputCols = num_cols, outputCol = "num")
pipelineNum = Pipeline(stages = [assemblerNum])
df4_regressor = pipelineNum.fit(df4_regressor).transform(df4_regressor)

In [28]:
#combining cat and num assemblers
assembler = VectorAssembler(inputCols = ["cat", "num"], outputCol = "features")

In [29]:
#into the pipeline
pipeline = Pipeline(stages = [assembler])

In [30]:
#creating new df with both cat and num as features
df_temp = pipeline.fit(df4_regressor).transform(df4_regressor)
df_f = df_temp.select("features","payGapratio")

In [31]:
df_f.show(2)

+--------------------+-----------+
|            features|payGapratio|
+--------------------+-----------+
|(27,[1,3,9,17,26]...|    0.48125|
|(27,[2,4,8,17,26]...|      0.225|
+--------------------+-----------+
only showing top 2 rows

In [32]:
df4_regressor.show(3)

+---+-------------------+-----+--------------+---------+----------------+-------+------+------+-----------+-------------+-------------+-------------+--------------+--------------------+------+
|AGE|              MARST| RACE|          EDUC|OCCRecode|     PayGapratio|MARST_i|RACE_i|EDUC_i|OCCRecode_i|    MARST_i_e|     RACE_i_e|     EDUC_i_e| OCCRecode_i_e|                 cat|   num|
+---+-------------------+-----+--------------+---------+----------------+-------+------+------+-----------+-------------+-------------+-------------+--------------+--------------------+------+
| 31|NeverMarried-Single|White|4thYearCollege| Business|         0.48125|    1.0|   0.0|   1.0|        2.0|(3,[1],[1.0])|(5,[0],[1.0])|(7,[1],[1.0])|(11,[2],[1.0])|(26,[1,3,9,17],[1...|[31.0]|
| 37|          Separated|Black|    HighSchool| Business|           0.225|    2.0|   1.0|   0.0|        2.0|(3,[2],[1.0])|(5,[1],[1.0])|(7,[0],[1.0])|(11,[2],[1.0])|(26,[2,4,8,17],[1...|[37.0]|
| 58|            Married|Black|4thYearCollege|    Sales|8.19047619047619|    0.0|   1.0|   1.0|        5.0|(3,[0],[1.0])|(5,[1],[1.0])|(7,[1],[1.0])|(11,[5],[1.0])|(26,[0,4,9,20],[1...|[58.0]|
+---+-------------------+-----+--------------+---------+----------------+-------+------+------+-----------+-------------+-------------+-------------+--------------+--------------------+------+
only showing top 3 rows

In [33]:
df4_regressor.columns

['AGE',
 'MARST',
 'RACE',
 'EDUC',
 'OCCRecode',
 'PayGapratio',
 'MARST_i',
 'RACE_i',
 'EDUC_i',
 'OCCRecode_i',
 'MARST_i_e',
 'RACE_i_e',
 'EDUC_i_e',
 'OCCRecode_i_e',
 'cat',
 'num']

In [34]:
#creating training and test data
trainingData,testData = df_f.randomSplit([0.7,0.3])

In [35]:
trainingData.columns

['features', 'payGapratio']

In [36]:
#import regressor models
from pyspark.ml.regression import RandomForestRegressor, DecisionTreeRegressor,GBTRegressor

In [37]:
#building our models
rf = RandomForestRegressor(labelCol="payGapratio",featuresCol="features")
dt = DecisionTreeRegressor(labelCol="payGapratio",featuresCol="features")
gbt = GBTRegressor(labelCol="payGapratio",featuresCol="features")

In [38]:
#fitting our models onto training data
rf_model = rf.fit(trainingData)

In [39]:
dt_model = dt.fit(trainingData)

In [40]:
gbt_model = gbt.fit(trainingData)

In [41]:
#make predictions
rf_predict = rf_model.transform(testData)
dt_predict = dt_model.transform(testData)
gbt_predict = gbt_model.transform(testData)

In [42]:
from pyspark.ml.evaluation import RegressionEvaluator

In [43]:
#how do we show an example prediction, features, and label dataframe?
rf_predict.select("prediction","payGapratio","features")

DataFrame[prediction: double, payGapratio: double, features: vector]

In [44]:
#evaluating our models
eval_RMSE = RegressionEvaluator(labelCol="payGapratio",predictionCol="prediction",metricName="rmse")
eval_r2 = RegressionEvaluator(labelCol="payGapratio",predictionCol="prediction",metricName="r2")

In [45]:
rf_rmse = eval_RMSE.evaluate(rf_predict)
rf_r2 = eval_r2.evaluate(rf_predict)

In [46]:
dt_rmse = eval_RMSE.evaluate(dt_predict)
dt_r2 = eval_r2.evaluate(dt_predict)

In [47]:
gbt_rmse = eval_RMSE.evaluate(gbt_predict)
gbt_r2 = eval_r2.evaluate(gbt_predict)

In [48]:
print("Root Mean Squared Error (RMSE) for the Ensemble Random Forest Model = %g" % rf_rmse)
print("Root Mean Squared Error (RMSE) for the Single Decision Tree Model = %g" % dt_rmse)
print("Root Mean Squared Error (RMSE) for the Ensemble Gradient Boosted Tree Model = %g" % gbt_rmse)

Root Mean Squared Error (RMSE) for the Ensemble Random Forest Model = 0.836189
Root Mean Squared Error (RMSE) for the Single Decision Tree Model = 0.838698
Root Mean Squared Error (RMSE) for the Ensemble Gradient Boosted Tree Model = 0.822554

In [49]:
print("R^2 value for the Ensemble Random Forest Model = %g" % rf_r2)
print("R^2 value for the Single Decision Tree Model = %g" % dt_r2)
print("R^2 value for the Ensemble Gradient Boosted Tree Model = %g" % gbt_r2)

R^2 value for the Ensemble Random Forest Model = 0.13277
R^2 value for the Single Decision Tree Model = 0.127558
R^2 value for the Ensemble Gradient Boosted Tree Model = 0.160822

In [50]:
#feature importances
importances = gbt_model.featureImportances

In [51]:
from itertools import chain
import pandas as pd

In [52]:
attrs = sorted(
    (attr["idx"], attr["name"]) for attr in (chain(*df_f
        .schema["features"]
        .metadata["ml_attr"]["attrs"].values())))

In [53]:
#displaying feature importances
[(name, gbt_model.featureImportances[idx])
 for idx, name in attrs
 if gbt_model.featureImportances[idx]]

[('cat_MARST_i_e_Married', 0.06278461529472866),
 ('cat_MARST_i_e_NeverMarried-Single', 0.010318000622056754),
 ('cat_MARST_i_e_Separated', 0.00422746883457445),
 ('cat_RACE_i_e_White', 0.0071407891093855),
 ('cat_RACE_i_e_Black', 0.014900086242121465),
 ('cat_RACE_i_e_OtherAsianOrPacificIslander', 0.017649055738259666),
 ('cat_RACE_i_e_Chinese', 0.027469473955437557),
 ('cat_RACE_i_e_Native-IndianOrAlaskan', 0.0031984223373256633),
 ('cat_EDUC_i_e_HighSchool', 0.0448923411996094),
 ('cat_EDUC_i_e_4thYearCollege', 0.06170456383357535),
 ('cat_EDUC_i_e_1stYearCollege', 0.00641384518912657),
 ('cat_EDUC_i_e_5+YearsCollege', 0.08249482844642496),
 ('cat_EDUC_i_e_2ndYearCollege', 0.014451967326241058),
 ('cat_EDUC_i_e_MiddleSchool', 0.018876627038198833),
 ('cat_EDUC_i_e_NoSchooling', 0.024778264846938555),
 ('cat_OCCRecode_i_e_Administration', 0.02955175505176393),
 ('cat_OCCRecode_i_e_Healthcare', 0.02776048536190886),
 ('cat_OCCRecode_i_e_Business', 0.018752137102808052),
 ('cat_OCCRecode_i_e_Hospitality', 0.024574482485841542),
 ('cat_OCCRecode_i_e_Education', 0.033244641478109065),
 ('cat_OCCRecode_i_e_Sales', 0.052495552306170354),
 ('cat_OCCRecode_i_e_Trades', 0.043944071165839704),
 ('cat_OCCRecode_i_e_STEM', 0.004486313002418456),
 ('cat_OCCRecode_i_e_PublicSector', 0.0024402311734835528),
 ('cat_OCCRecode_i_e_Finance', 0.03575708320996825),
 ('cat_OCCRecode_i_e_Media', 0.06960459851816583),
 ('num_AGE', 0.25608829912951814)]

In [54]:
print(gbt_model.explainParams)

<bound method Params.explainParams of GBTRegressionModel (uid=GBTRegressor_493a8e95a99ad80c2367) with 20 trees>

In [55]:
toTree = gbt_model.toDebugString

In [56]:
df3_buck.show(3)

+------+---+-------------------+-----+--------------+-------+---------+---------+----------------+-----------+
|   SEX|AGE|              MARST| RACE|          EDUC|INCWAGE|OCCRecode|M_MedWage|     PayGapRatio|payGapClass|
+------+---+-------------------+-----+--------------+-------+---------+---------+----------------+-----------+
|Female| 31|NeverMarried-Single|White|4thYearCollege|  38500| Business|    80000|         0.48125|        1.0|
|Female| 37|          Separated|Black|    HighSchool|  18000| Business|    80000|           0.225|        0.0|
|Female| 58|            Married|Black|4thYearCollege| 344000|    Sales|    42000|8.19047619047619|        4.0|
+------+---+-------------------+-----+--------------+-------+---------+---------+----------------+-----------+
only showing top 3 rows

In [57]:
#hyperparameter tuning
from pyspark.ml.tuning import ParamGridBuilder
from pyspark.ml.tuning import CrossValidator
import numpy as np

paramGrid = ParamGridBuilder() \
    .addGrid(rf.numTrees, [int(x) for x in np.linspace(start = 10, stop = 50, num = 3)]) \
    .addGrid(rf.maxDepth, [int(x) for x in np.linspace(start = 5, stop = 25, num = 3)]) \
    .build()

In [58]:
pipeline = Pipeline(stages = [assembler,rf])

In [59]:
crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=RegressionEvaluator(),
                          numFolds=3)

In [60]:
(trainingDataCV, testDataCV) = df_f.randomSplit([0.8, 0.2])

In [61]:
pandasDF = pd.DataFrame(df_f.schema["features"].metadata["ml_attr"] 
["attrs"]["binary"]+df_f.schema["features"].metadata["ml_attr"]["attrs"]["numeric"]).sort_values("idx")

In [62]:
import pandas as pd
import json
import bson

In [63]:
pandasDF

    idx                                      name
0     0                     cat_MARST_i_e_Married
1     1         cat_MARST_i_e_NeverMarried-Single
2     2                   cat_MARST_i_e_Separated
3     3                        cat_RACE_i_e_White
4     4                        cat_RACE_i_e_Black
5     5  cat_RACE_i_e_OtherAsianOrPacificIslander
6     6                      cat_RACE_i_e_Chinese
7     7       cat_RACE_i_e_Native-IndianOrAlaskan
8     8                   cat_EDUC_i_e_HighSchool
9     9               cat_EDUC_i_e_4thYearCollege
10   10               cat_EDUC_i_e_1stYearCollege
11   11               cat_EDUC_i_e_5+YearsCollege
12   12               cat_EDUC_i_e_2ndYearCollege
13   13                 cat_EDUC_i_e_MiddleSchool
14   14                  cat_EDUC_i_e_NoSchooling
15   15          cat_OCCRecode_i_e_Administration
16   16              cat_OCCRecode_i_e_Healthcare
17   17                cat_OCCRecode_i_e_Business
18   18             cat_OCCRecode_i_e_Hospitality
19   19               cat_OCCRecode_i_e_Education
20   20                   cat_OCCRecode_i_e_Sales
21   21                  cat_OCCRecode_i_e_Trades
22   22                    cat_OCCRecode_i_e_STEM
23   23            cat_OCCRecode_i_e_PublicSector
24   24                 cat_OCCRecode_i_e_Finance
25   25                   cat_OCCRecode_i_e_Media
26   26                                   num_AGE

In [64]:
#defining the function to convert tree to JSON File
def tree_json(tree):
		data = []
		for line in tree.splitlines() : 
			if line.strip():
				line = line.strip()
				data.append(line)
			else : break
			if not line : break
		res = []
		res.append({'name':'Root', 'children':parse(data[1:])})
		with open('/home/ubuntu/BDASProj/structure.json', 'w') as outfile:
			json.dump(res[0], outfile)
		print ('Conversion Success !')

In [65]:
#defining the parse function useful for above
def parse(lines):
		block = []
		while lines :
			
			if lines[0].startswith('If'):
				bl = ' '.join(lines.pop(0).split()[1:]).replace('(', '').replace(')', '')
				block.append({'name':bl, 'children':parse(lines)})
				
				
				if lines[0].startswith('Else'):
					be = ' '.join(lines.pop(0).split()[1:]).replace('(', '').replace(')', '')
					block.append({'name':be, 'children':parse(lines)})
			elif not lines[0].startswith(('If','Else')):
				block2 = lines.pop(0)
				block.append({'name':block2})
			else:
				break	
		return block

In [66]:
#converting results of the gbt_model.toDebugString() to JSON
tree_json(toTree)

Conversion Success !

In [100]:
df3 = df3.select("SEX","AGE","MARST","RACE","EDUC","INCWAGE","OCCRecode")
print((df3.count(), len(df3.columns)))

(297708, 7)

In [104]:
#splitting dataframe and joining later on
df1split = df3.select("SEX","AGE","MARST","RACE","EDUC","OCCRecode")

In [105]:
df1split.show(5)
print((df1split.count(), len(df1split.columns)))

+------+---+-------------------+-----+--------------+-----------+
|   SEX|AGE|              MARST| RACE|          EDUC|  OCCRecode|
+------+---+-------------------+-----+--------------+-----------+
|Female| 31|NeverMarried-Single|White|4thYearCollege|   Business|
|Female| 37|          Separated|Black|    HighSchool|   Business|
|Female| 58|            Married|Black|4thYearCollege|      Sales|
|Female| 47|            Married|White|    HighSchool|  Education|
|Female| 47|            Married|Black|2ndYearCollege|Hospitality|
+------+---+-------------------+-----+--------------+-----------+
only showing top 5 rows

(297708, 6)

In [101]:
df2split = df3.select("AGE","INCWAGE")
df2split.show(5)
print((df2split.count(), len(df2split.columns)))

+---+-------+
|AGE|INCWAGE|
+---+-------+
| 31|  38500|
| 37|  18000|
| 58| 344000|
| 47|  10000|
| 47|  15000|
+---+-------+
only showing top 5 rows

(297708, 2)

In [93]:
#joining the two dataframes i've split previously, on the mutual Age column
dfcombined = df1split.join(df2split, df1split.AGE == df2split.AGE)

In [95]:
dfcombined.show(5)

+------+---+-------------------+-----+--------------+---+-------+
|   SEX|AGE|              MARST| RACE|          EDUC|AGE|INCWAGE|
+------+---+-------------------+-----+--------------+---+-------+
|Female| 31|NeverMarried-Single|White|4thYearCollege| 31|  28600|
|Female| 31|NeverMarried-Single|White|4thYearCollege| 31|   3000|
|Female| 31|NeverMarried-Single|White|4thYearCollege| 31|  35000|
|Female| 31|NeverMarried-Single|White|4thYearCollege| 31|  20000|
|Female| 31|NeverMarried-Single|White|4thYearCollege| 31|  28000|
+------+---+-------------------+-----+--------------+---+-------+
only showing top 5 rows

In [94]:
print(dfcombined.count(),len(dfcombined.columns))

KeyboardInterrupt:

In [69]:
testData.show(5)

+--------------------+-----------+
|            features|payGapratio|
+--------------------+-----------+
|(27,[0,3,8,15,26]...|    0.03125|
|(27,[0,3,8,15,26]...|     0.0625|
|(27,[0,3,8,15,26]...|     0.4375|
|(27,[0,3,8,15,26]...|    0.09375|
|(27,[0,3,8,15,26]...|     0.1625|
+--------------------+-----------+
only showing top 5 rows

In [70]:
df_f.show(5)

+--------------------+-------------------+
|            features|        payGapratio|
+--------------------+-------------------+
|(27,[1,3,9,17,26]...|            0.48125|
|(27,[2,4,8,17,26]...|              0.225|
|(27,[0,4,9,20,26]...|   8.19047619047619|
|(27,[0,3,8,19,26]...|0.21052631578947367|
|(27,[0,4,12,18,26...| 0.8333333333333334|
+--------------------+-------------------+
only showing top 5 rows